<div class="modal" id="NewPrivateRoom" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nieuwe privéchat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="ChatSystem" asp-action="CreatePrivateRoom" method="post">
                    <div class="form-group">
                        <label for="name" class="col-form-label">Gebruikersnaam:</label><span class="required"> *</span>
                        <input class="form-control" id="name" name="name" required>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary lg-btn mt-3">Aanmaken</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
