@model IEnumerable<string>;
@{
    ViewData["Title"] = "Clienten";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ClientID</th>
                        <th>ClientGegevens</th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var item in Model)
                   {
                       <tr>
                       <td>@item</td>
                       <form method="post" asp-action="ClientInfo" asp-controller="ClientSystem" asp-route-clientId ="@item">
                                <td class="text-center"><button class="btn btn-sm btn-primary">ClientGegevens</button></td>
                        </form>
                       </tr>
                   }
                </tbody>
            </table>
        </div>
    </div>
</div>
