<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 pr-0">
                <a asp-controller="Contact" asp-action="Index">Contact</a>
            </div>
            <div class="col-6 text-center p-0">
                <a asp-controller="Home" asp-action="Index">&copy; ZMDH - 2022</a>
            </div>
            <div class="col-3 text-right pl-0">
                <a asp-controller="Privacy" asp-action="Index">Beleid</a>
            </div>
        </div>
    </div>
</footer>
