<footer class="footer text-muted">
    <div class="container-fluid">
        <div class="row">
            <div class="col"></div>
            <div class="col text-center">
                &copy; ZMDH - 2022
            </div>
            <div class="col text-right">
                <a asp-controller="Privacy" asp-action="Index">Privacy</a>
            </div>
        </div>
    </div>
</footer>
