@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
        <a class="navbar-brand mr-3 pt-1 pb-1" asp-controller="Home" asp-action="Index" tabindex="-1" aria-disabled="true">
            <img src="~/img/logo.svg" alt="ZMDH logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index"><span class="material-icons-round">home</span>Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="About" asp-action="Index"><span class="material-icons-round">info</span>Over ons</a>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                 @if (User.IsInRole("Moderator"))
                {
                     <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="UserSystem" asp-action="Index"><span class="material-icons-round"></span>Gebruiker Beheer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="RoleSystem" asp-action="Index"><span class="material-icons-round"></span>Rollen Beheer</a>
                    </li>
                </ul>
                }
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hallo @UserManager.GetUserName(User)!</a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl='@Url.Action("Index","Home", new { area = ""})'>
                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><span class="material-icons-round">logout</span>Uitloggen</button>
                        </form>
                    </li>
                </ul>
               
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login"><span class="material-icons-round">login</span>Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register"><span class="material-icons-round">person_add</span>Registreer</a>
                    </li>
                </ul>
            }
        </div>
    </nav>
</header>
