<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Round">

    <link rel="stylesheet" href="~/css/font/font.css">

    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    <link rel="stylesheet" href="~/css/footer.css">

    <link rel="stylesheet" href="~/css/accessibility.css">
</head>

<body>
    <div class="load"></div>

    <partial name="_Header" />

    <main role="main">
        @RenderBody()
    </main>

    <div class="accessibility">
        <input type="checkbox" class="d-none" id="accessibilitySwitch">
        <label class="accessibility-label" for="accessibilitySwitch" tabindex="0">
            <span class="material-icons-round" title="Klik hier om accessibility modus in te schakelen.">accessibility</span>
        </label>
    </div>

    <partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://kit.fontawesome.com/ce2b63786f.js" crossorigin="anonymous"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/accessibility.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
