@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Toegang geweigerd";
}

<header>
    <div class="d-flex justify-content-center">
        <h1 class="text-danger">@ViewData["Title"]</h1>
    </div>
    <div class="d-flex justify-content-center">
        <p class="text-danger">U heefy geen recht om deze pagina te bezoeken.</p>
    </div>
</header>
