@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Bevestiging wachtwoord opnieuw instellen";
}

<h1>@ViewData["Title"]</h1>
<p>
    Je wachtwoord is opnieuw ingesteld. <a asp-page="./Login">klik hier om in te loggen</a>.
</p>
