@model List<Microsoft.AspNetCore.Identity.IdentityRole>;
@{
    ViewData["Title"] = "Role Management Systeem";
}
<h1>Rol Magement Systeem</h1>
<form method="post" asp-action="AddRole" asp-controller="RoleSystem">
    <div class="input-group">
        <input name="Name" class="form-control"></input>
        <span class="input-group-btn">
            <button class="btn btn-primary">Rol Toevoegen</button>
        </span>
    </div>
</form>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rol</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td><button class="btn btn-danger">Verwijder</button></td>
            </tr>
        }
    </tbody>
</table>