@page
@model BSNModel
@{
    ViewData["Title"] = "Update BSN";
    ViewData["ActivePage"] = ManageNavPages.BSN;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col info-row">
        <h4>@ViewData["Title"]</h4>
        <form id="bsn-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.BSN"></label>:<span class="required"> *</span>
                <input asp-for="Input.BSN" class="form-control" />
                <span asp-validation-for="Input.BSN" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button id="bsn-button" type="submit" asp-page-handler="ChangeBSN" class="btn btn-primary lg-btn">Update BSN</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
