@page
@model PaymentModel
@{
    ViewData["Title"] = "Betaalgegevens";
    ViewData["ActivePage"] = ManageNavPages.Payment;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col info-row">
        <h4>@ViewData["Title"]</h4>
        <form id="payment-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.IBAN"></label>:<span class="required"> *</span>
                <input asp-for="Input.IBAN" class="form-control" />
                <span asp-validation-for="Input.IBAN" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button id="payment-button" type="submit" asp-page-handler="ChangePayment" class="btn btn-primary lg-btn">Verander betaalgegevens</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
