@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.woff2') format('woff2'), url('Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('Gotham-Black.woff2') format('woff2'), url('Gotham-Black.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
