@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Geen toegang";
}

<div class="no-access">
    <h1 class="text-danger pb-3">@ViewData["Title"]</h1>
    <p>U heeft geen toegang tot deze pagina.</p>
</div>
