@{
    ViewData["Title"] = "Over Ons";
}

<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2>Wie zijn wij?</h2>
            <p>
                Bij ZMDH hebben wij een goed team aan orthopedagogen, die allemaal een eigen specialisatie
                hebben binnen het vakgebied. Zo zou jij altijd een gesprek kunnen hebben met een
                orthopedagoog die gespecialiseerd is binnen het gebied waar jij hulp bij nodig hebt. Hierdoor
                kunnen wij streven naar onze visie om de praktijk met de beste hulp binnen de regio Haaglanden te zijn.
            </p>
            <p>Klik hieronder op hier! bij elke orthopedagoog om een introductie van hem/haar te lezen:</p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="row mx-0 my-3">
                <div class="col-12 about-card pt-3">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <figure class="mb-3">
                                <img src="~/img/angela.png" alt="Foto van Angela van Heringa">
                                <figcaption class="pt-1">Angela van Heringa</figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-12 my-auto">
                            <p>
                                Hallo mijn naam is Angela van Heringa, mijn geboorteplaats is in Delft en ik ben geboren
                                in 1990. Thuis leef ik met mijn man van 41 jaar, zijn naam is Joseph Van Der Vliet. Wij zijn blij met
                                onze 2 kinderen, een van 2 jaar en een van 4 jaar. Mijn ouders heb ik helaas verloren 5 jaar geleden. Ik
                                ben opgegroeid in Honselersdijk. Mijn passie is echt het helpen van jongeren die problemen hebben met
                                de omgang van 'normale dingen'. Die normale dingen zijn niet 'normaal' voor die kinderen. Zij vinden
                                dat een stuk lastiger, en dat vind ik erg interessant. Vooral ADD interesseert me het meest, omdat
                                mijn moeder dat ook had.
                            </p>
                            <p>Lees meer over mij <a asp-controller="About" asp-action="Angela_van_Heringa" aria-label="Lees meer over Angela van Heringa">hier</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="row mx-0 my-3">
                <div class="col-12 about-card pt-3">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <figure class="mb-3">
                                <img src="~/img/gijs.png" alt="Foto van Gijs Broekman">
                                <figcaption class="pt-1">Gijs Broekman</figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-12 my-auto">
                            <p>
                                Mijn naam is Gijs Broekman, geboren in 1988 in Breda en heb één oudere broer en één jongere zus.
                                Ik ben al 7 jaar gelukkig getrouwd en heb 2 dochters, één van 4 en één van 2 jaar oud. Ik ben altijd al geïnteresseerd
                                geweest over wat er in jongeren hun hoofd omgaat en waarom de een meer moeite heeft met sommige dingen dan anderen.
                                Zelf heb ik ook ADD en weet hoe het is om als jonge soms het idee te hebben dat ik achter loop op andere studenten.
                                Dit is ook een van de redenen dat ik orthopedagoog ben geworden.
                            </p>
                            <p>Lees meer over mij <a asp-controller="About" asp-action="Gijs_Broekman" aria-label="Lees meer over Gijs Broekman">hier</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="row mx-0 my-3">
                <div class="col-12 about-card pt-3">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <figure class="mb-3">
                                <img src="~/img/jantinus.png" alt="Foto van Jantinus Verduin">
                                <figcaption class="pt-1">Jantinus Verduin</figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-12 my-auto">
                            <p>
                                Mijn naam is Jantinus Verduin, ik ben 45 jaar en ben geboren en getogen in Den Haag.
                                Ik heb een vrouw en 3 kinderen van 4, 8 en 10 jaar oud. Op dit moment ben ik al bijna 10 jaar
                                werkzaam in deze praktijk als Orthopedagoog en dat doe ik nog altijd met veel plezier, het is
                                echt mijn passie om andere mensen te mogen helpen met hun “problemen”.
                            </p>
                            <p>Lees meer over mij <a asp-controller="About" asp-action="Jantinus_Verduin" aria-label="Lees meer over Jantinus Verduin">hier</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="row mx-0 my-3">
                <div class="col-12 about-card pt-3">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <figure class="mb-3">
                                <img src="~/img/joseph.png" alt="Foto van Joseph van der Vliet">
                                <figcaption class="pt-1">Joseph van der Vliet</figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-12 my-auto">
                            <p>
                                Mijn naam is Joseph van der Vliet, geboren in 1980 en getogen in Den Haag. Ik ben al 5 jaar getrouwd
                                met Angela van Heringa en gelukkig. Sinds mijn jeugd ben ik een fanatieke lezer die houdt van Engelse en
                                Russische Romans, zo lees ik voornamelijk de boeken van Fyodor Dostoyevsky. Ook zwem ik graag in mij
                                vrije tijd en neem ik deel aan competitieve schaakwedstrijden. Jarenlang ben ik geïnteresseerd
                                geweest in hoogbegaafde jongeren, en is mijn doel dat jongeren altijd een uitdaging hebben en
                                hun talenten kunnen goed kunnen gebruiken in hun dagelijks leven.
                            </p>
                            <p>Lees meer over mij <a asp-controller="About" asp-action="Joseph_van_der_Vliet" aria-label="Lees meer over Joseph van der Vliet">hier</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wat doen wij?</h2>
            <p>
                Bij ZMDH willen wij jouw eventuele problemen heel graag oplossen/verminderen.
                Wij zullen er ook met heel ons team alles aan doen. Het verschilt per
                “probleem” wat voor behandeling er zou kunnen volgen,
                dit kunnen oefeningen zijn, bepaalde tests maar ook gewoon gesprekken.
                Wij gaan graag met je in gesprek waarin we kunnen bekijken of er een klik met
                de orthopedagoog is en er eventueel een behandeling zou kunnen volgen.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Kernwaarden</h2>
            <p>
                Bij ZMDH hebben wij een aantal kernwaarden waardoor de communicatie tussen
                de client en de orthopedagoog zo goed mogelijk verloopt:
            </p>
            <div class="row">
                <div class="col-12 col-md-3 col-lg-2">
                    <li>Vertrouwen:</li>
                </div>
                <div class="col-12 col-md-9 col-lg-10">
                    <p>
                        Wij vinden het erg belangrijk dat de client een goed vertrouwde band met de orthopedagoog
                        heeft. Wij zullen er alles aan doen om het vertrouwen op te bouwen.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 col-lg-2">
                    <li>Persoonlijk:</li>
                </div>
                <div class="col-12 col-md-9 col-lg-10">
                    <p>
                        Wij vinden het erg belangrijk dat er een goede band wordt opgebouwd met de orthopedagoog,
                        dit proberen wij te doen door persoonlijke communicatie met de client.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-3 col-lg-2">
                    <li>Laagdrempelig:</li>
                </div>
                <div class="col-12 col-md-9 col-lg-10">
                    <p>
                        Het zou niet lastig moeten zijn om een afspraak te maken als het gaat om bepaalde problemen,
                        wij hebben ons best gedaan om dit zo makkelijk mogelijk te maken.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
