@model IEnumerable<ChatUser>
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Mijn chats";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Chatnaam</th>
                        <th>Onderwerp</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var chat in Model)
                    {
                        <tr>
                            <td><a asp-controller="Chat" asp-action="Chat" asp-route-id="@chat.Chat.Id">@chat.Chat.Name</a></td>
                            <td>@chat.Chat.Subject</td>
                            @if (chat.Chat.Type == ChatType.Chat)
                            {
                                <td>Privé Chat</td>
                            }
                            @if (chat.Chat.Type == ChatType.GroupChat)
                            {
                                <td>Zelfhulpgroep</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form asp-controller="ChatSystem" asp-action="Index">
                <button class="btn btn-primary lg-btn">Zelfhulpgroepen</button>
            </form>
        </div>
    </div>
</div>
