@model IEnumerable<Chat>
@{
    ViewData["Title"] = "Beschikbare chats";
}

<div class="container-fluid manage pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
            <form method="post" asp-controller="Chat" asp-action="Search">
                <div class="form-group">
                    <label for="search">Zoek naar chats</label>
                    <input class="form-control" id="search" name="search"></input>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary lg-btn">Zoeken</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-sm table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Chatnaam</th>
                        <th>Onderwerp</th>
                        <th>Opties</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var chat in Model)
                    {
                        <tr>
                            <td>@chat.Name</td>
                            <td>@chat.Subject</td>
                            <td class="text-center">
                                <form asp-controller="Chat" asp-action="Chat" asp-route-id="@chat.Id" method="get">
                                    <button class="btn btn-sm btn-primary">Deelnemen</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
