@{
    ViewData["Title"] = "Informatiebeveiligingsbeleid";
}

<div class="container privacy pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2>Aanpak:</h2>
            <p>
                Het is tegenwoordig steeds noodzakelijker om een informatiebeveiligingsbeleid in orde te hebben. Er wordt steeds meer gebruikt gemaakt van digitale apparatuur wat zonder informatiebeveiligingsbeleid en regels uit de hand zal gaan lopen.
                Ook voor de applicatie van Praktijk voor Orthopedagogiek & Psychologie 'Zorg Maatschap Den Haag' (ZMDH) is dat erg van belang. Er wordt veel gebruikt gemaakt van gevoelige informatie van patiënten wat goed beveiligd moet zijn om de veiligheid en privacy van onze cliënten te waarborgen.
            </p>
            <p>
                Het informatiebeveiligingsbeleid is van belang in alle IT-processen in onze organisatie waar 3 aspecten belangrijk zijn, de zogenoemde BIV factoren:
            </p>
            <ul>
                <li><span>Beschikbaarheid:</span> zijn de gegevens en is de functionaliteit op de juiste momenten beschikbaar?</li>
                <li><span>Integriteit:</span> zijn de gegevens juist en volledig?</li>
                <li><span>Vertrouwelijkheid:</span> zijn de gegevens alleen toegankelijk voor de mensen die daartoe bevoegd zijn?</li>
            </ul>
            <p>
                Bij het maken van het informatiebeveiligingsbeleid en het na leven daarvan wordt er altijd gebruik gemaakt van de bovenstaande BIV factoren.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Persoonsgegevens:</h2>
            <p>
                Wij verzamelen enkel de persoonsgegevens van de cliënten die noodzakelijk zijn om onze diensten goed te kunnen verlenen.
                Deze gegevens worden alleen gebruikt voor onze diensten en worden niet aan derden verstrekt.
                De gegevens zijn alleen in te zien door bevoegde mensen binnen het bedrijf waarbij alleen gebruik gemaakt wordt van een betrouwbaar en veilig systeem.
                Ook wordt er met alle gegevens die bij ons bekend zijn rekening gehouden met de AVG en de jeugd wet, meer hierover in het kopje “Wetgevingen”.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wetgevingen:</h2>
            <h5>AVG:</h5>
            <p>
                Wij als bedrijf houden AVG aan en volgens deze wet moeten de opgeslagen gegevens van de cliënten voldoen aan de eisen van deze wet.
                Zodat de mensen die de website gebruiken zich ook veilig voelen bij het gebruik ervan.
                Zo hebben de cliënten met behulp van AVG meer de mogelijkheid om voor zichzelf op te komen bij het verwerken van de gegevens.
                Hierdoor kunnen de klanten dus ook hun gegevens inzien, of de toestemming die ze hebben gegeven terugtrekken.
                Dit zorgt ervoor dat de klanten zich niet te verplicht voelen om hun gegevens op te slaan. Ook moeten de gegevens verwijdert worden die niet meer nodig zijn en
                is het verplicht om het te melden als er iets niet meer volgens de richtlijnen gaat. Dus als er bijvoorbeeld kans is op een data lek van de gegevens.
                Dan wordt dat gelijk gemeld bij het management. Dit zorgt ervoor dat de integriteit van de website wordt beschermd.
            </p>
            <p>
                De AVG wordt gecontroleerd door middel van de PDCA-cyclus. Hiermee wordt telkens gecontroleerd of de AVG correct wordt nageleefd
                en juist aan de regels wordt gehouden.
            </p>
            <h5>Jeugdwet:</h5>
            <p>
                Ook houdt ons bedrijf zich aan de jeugdwet, in deze wet staat dat een dossier minimaal 20 jaar moet bestaan na afloop van de zorg.
                Na deze bewaarperiode is het verplicht de dossiers te vernietigen.
                Maar voordat het wordt vernietigd krijgen de ouders en/of het kind de kans om een kopie hiervan te krijgen.
                Ouders of jongeren van 12 jaar en ouder mogen aangeven dat ze het eerder willen vernietigen.
            </p>
        </div>
    </div>
</div>
