@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<header>
    <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light">
        <a class="navbar-brand mr-3" asp-controller="Home" asp-action="Index" tabindex="-1" aria-disabled="true">
            <img src="~/img/logo.svg" alt="ZMDH logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigatie menuknop">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Home" asp-action="Index" title="Naar de homepagina.">
                        <span class="material-icons-round d-flex align-items-center" aria-hidden="true">home</span>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Info" asp-action="Index" title="Hier vind u meer informatie.">
                        <span class="material-icons-round d-flex align-items-center" aria-hidden="true">info</span>Informatie
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="About" asp-action="Index" title="Lees hier over ons bedrijf.">
                        <span class="material-icons-round d-flex align-items-center" aria-hidden="true">contact_page</span>Over ons
                    </a>
                </li>
            </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Kind") || User.IsInRole("Tiener") || User.IsInRole("Orthopedagoog"))
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link btn btn-link btn-primary text-white w-100" asp-controller="Chat" asp-action="Index" title="Mijn chats">
                                <span class="material-icons-round" aria-hidden="true">chat</span>Chatten
                            </a>
                        </li>
                    </ul>
                }
                @if (!User.IsInRole("Kind") || !User.IsInRole("Tiener"))
                {
                    <ul class="navbar-nav mr-auto">
                        @if (User.IsInRole("Moderator") || User.IsInRole("Orthopedagoog"))
                        {
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="ChatSystem" asp-action="Index" title="Zelfhulpgroepen beheren">
                                    <span class="material-icons-round" aria-hidden="true">feedback</span><span class="nav-collapse-text">Zelfhulpgroepen</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="Referral" asp-action="Index" title="Verwijzingen inzien">
                                    <span class="material-icons-round" aria-hidden="true">assignment</span><span class="nav-collapse-text">Verwijzingen</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="Client" asp-action="Index" title="Cliënten bekijken">
                                    <span class="material-icons-round" aria-hidden="true">face</span><span class="nav-collapse-text">Cliënten</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Moderator"))
                        {
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="UserSystem" asp-action="Index" title="Gebruikers inzien">
                                    <span class="material-icons-round" aria-hidden="true">people</span><span class="nav-collapse-text">Gebruikers</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="Caregiver" asp-action="Index" title="Orthopadagogen beheren">
                                    <span class="material-icons-round" aria-hidden="true">nature_people</span><span class="nav-collapse-text">Orthopadagogen</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="RoleSystem" asp-action="Index" title="Gebruikers rollen">
                                    <span class="material-icons-round" aria-hidden="true">assignment_ind</span><span class="nav-collapse-text">Rollen</span>
                                </a>
                            </li>
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="Report" asp-action="Index" title="Gerapporteerde gebruikers">
                                    <span class="material-icons-round" aria-hidden="true">flag</span><span class="nav-collapse-text">Reports</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Orthopedagoog"))
                        {
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="SignUp" asp-action="Overview" title="Aanmeldingen gebruikers">
                                    <span class="material-icons-round" aria-hidden="true">person_add</span><span class="nav-collapse-text">Aanmeldingen</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("Ouder"))
                        {
                            <li class="nav-item w-100">
                                <a class="nav-link text-dark" asp-controller="ParentOverview" asp-action="Index" title="Chats van kinderen inzien">
                                    <span class="material-icons-round" aria-hidden="true">3p</span><span class="nav-collapse-text">Chats kinderen</span>
                                </a>
                            </li>
                        }
                    </ul>
                }
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Account">Welkom @UserManager.GetUserName(User)!</a>
                    </li>
                    <li class="nav-item">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl='@Url.Action("Index","Home", new { area = ""})'>
                            <button id="logout" type="submit" class="nav-link btn btn-danger btn-link text-white w-100">
                                <span class="material-icons-round" aria-hidden="true">logout</span>Uitloggen
                            </button>
                        </form>
                    </li>
                </ul>
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" title="Inloggen op uw ZMDH account.">
                            <span class="material-icons-round" aria-hidden="true">login</span>Inloggen
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-link btn-primary text-white w-100" asp-controller="SignUp" asp-action="Index" title="Aanmelden bij ZMDH">
                            <span class="material-icons-round" aria-hidden="true">drive_file_rename_outline</span>Meld je aan!
                        </a>
                    </li>
                </ul>
            }
        </div>
    </nav>
</header>
