/* Profile */
.profile-nav a {
  text-decoration: none;
}

.profile-nav a:hover {
  text-decoration: none !important;
}

.profile-nav .nav {
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: overlay;
  white-space: nowrap;
}

.profile-nav .nav-link {
  padding: .5rem 1.5rem;
  color: rgb(0 0 0 / .75);
  border-radius: .25rem .25rem 0 0;
}

.profile-nav .nav-link.active {
  color: #000;
  border-bottom: none !important;
  background-color: var(--white_3);
  border: solid 1px rgba(0 0 0 / .25);
  -webkit-box-shadow: 0 2px 4px -2px rgb(0 0 0 / .5);
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / .5);
}

.profile-row {
  margin-top: -2px;
  position: relative;
  border-radius: .25rem;
  background-color: var(--white_3);
  border: solid 1px rgba(0 0 0 / .25);
  -webkit-box-shadow: 0 2px 4px -2px rgb(0 0 0 / .5);
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / .5);
}

@media screen and (max-width: 575.98px) {
  .profile-nav .nav-link {
    padding: .5rem 1rem !important;
  }

  .profile-row {
    border: none;
    border-radius: 0;
    border-top: solid 1px rgba(0 0 0 / .25);
  }

  .info-row {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 576px) {
  .profile {
    margin-bottom: 1rem;
  }

  .info-row {
    padding: 1rem 4rem;
  }
}

@media screen and (min-width: 768px) {
  .info-row {
    padding: 2rem 6rem;
  }
}
