@{
    ViewData["Title"] = "Angela van Heringa";
}

<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>Angela van Heringa</h1>
        </div>
    </div>
    <hr />
    <div class="row head-row">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Even voorstellen:</h2>
            <p>
                Hallo mijn naam is Angela van Heringa, ik ben geboren in 1990 in Delft.
                Thuis leef ik met mijn man van 41 jaar, zijn naam is Joseph Van Der Vliet.
                Wij zijn blij met onze 2 kinderen, een van 2 en 4 jaar. Mijn ouders heb ik helaas verloren 5 jaar geleden.
                Ik ben opgegroeid in Honselersdijk. Mijn passie is echt het helpen van jongeren die problemen hebben met de omgang van 'normale dingen'.
                Die normale dingen zijn niet 'normaal' voor die kinderen. Zij vinden dat een stuk lastiger, en dat vind ik erg interessant.
                Vooral ADD interesseert me het meest.
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <div class="row justify-content-center m-0">
                <div class="col about-card">
                    <img class="mt-3 mb-3" src="~/img/angela.png" alt="Foto van Angela van Heringa">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Mijn studie:</h2>
            <p>
                Na 6 jaar een vwo opleiding gevolgd te hebben op het ISW Hoogeland in Naaldwijk,
                ben ik door gaan studeren voor psychologie. Als specialisatie het gebied van AD(H)D.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Nu over jou: jij hebt misschien ADD:</h2>
            <p>
                Raak je snel afgeleid en komt het zinnetje: “hè, wat ging ik ook alweer doen?” jou bekend voor?
                Misschien heb jij dan wel ADD. Mensen met ADD hebben vooral last van het focussen/concentreren.
                Omdat ze last hebben van de velen prikkels kunnen ze zich niet of lastig concentreren op het werk wat er echt toe doet.
                Prikkels spelen een grote rol voor mensen met ADD, dit komt doordat er dan nog meer chaotische dingen om je heen gebeuren dat je dat eigenlijk niet meer aan kan.
                Herken jij dit bij jezelf? Dan gaan we dat onderzoeken.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wat gaan we doen?</h2>
            <p>
                Als eerst zullen we nagaan of jij wel echt ADD hebt. Dat doen we door middel van een test, en een gesprek met mij.
                Hierbij stel ik je wat vragen Over jouw dagelijks leven en de problemen waar jij tegenaan loopt.
                Dan stel ik ook wat vragen of je misschien last hebt van depressiviteit, angst of dwangstoornissen, of heb gehad.
                Dit kan namelijk een van de oorzaken zijn van ADD.
            </p>
            <p>
                Ik hoor graag van je of je hierin geïnteresseerd bent, en ik hoop je verder te helpen. Je kan me altijd een berichtje sturen,
                mijn telefoonnummer is: <a href="tel:0678964345">06-78964345</a>. En bedenk alvast wat voorbeelden van de problemen waar jij tegenaan
                loopt en zorg dat je ook alvast wat opzoekt over ADD op het internet.
            </p>
        </div>
    </div>
</div>
