@{
    ViewData["Title"] = "Angela van Heringa";
}

<h1 class="about-header">Angela van Heringa</h1>


<div class="container">
    <div class="row">
        <h2 class="about-header-two">Even voorstellen</h2>
    </div>
    <div class="row">
        <div class="col-9 about-paragraph">
            <p>
                Hallo mijn naam is Angela van Heringa, mijn geboorteplaats is in Delft en ik ben geboren in 1990. Thuis
                leef ik met mijn man van 41 jaar, zijn naam is Joseph Van Der Vliet. Wij zijn blij met onze 2 kinderen,
                een van 2 jaar en een van 4 jaar. Mijn ouders heb ik helaas verloren 5 jaar geleden. Ik ben opgegroeid
                in Honselersdijk. Mijn passie is echt het helpen van jongeren die problemen hebben met de omgang van
                ‘normale dingen’. Die normale dingen zijn niet ‘normaal’ voor die kinderen. Zij vinden dat een stuk
                lastiger, en dat vind ik erg interessant. Vooral ADD interesseert me het meest, omdat mijn moeder dat
                ook had.
            </p>
        </div>

        <div class="col-3">

            <figure class="about-card-img">
                <img class="about-angela-img" src="~/img/angela.png" alt="Foto van Angela van Heringa">
            </figure>
        </div>
    </div>
    <div class="row">
        <h2 class="about-header-two">Mijn studie</h2>
        <div class="col-12 about-paragraph">
            <p>
                Ik heb eerst 6 jaar VWO gedaan op ISW Hoogeland in Naaldwijk. Dat ging mij erg gemakkelijk af en ik
                wilde toen gelijk gaan studeren in Delft. Toen heb ik psychologie gestudeerd. En vooral gespecialiseerd
                op ADD.
            </p>
        </div>
    </div>

    <div class="row">
        <h2 class="about-header-two">Nu over jou: jij hebt misschien ADD:</h2>
        <div class="col-12 about-paragraph">
            <p>
                Raak je snel afgeleid en ben je erg chaotisch? Misschien heb jij dan wel ADD. Mensen met ADD hebben vooral last van het focussen/concentreren. Omdat hun hoofd zo chaotisch is kunnen ze zich niet of lastig concentreren op het werk wat er echt toe doet. Prikkels spelen een grote rol voor mensen met ADD, dit komt doordat er dan nog meer chaotische dingen om je heen gebeuren dat je dat eigenlijk niet meer aan kan. ADD kan zorgen voor emotionele en lichamelijke uitputting. Herken jij dit bij jezelf? Dan gaan we dat onderzoeken. 
            </p>
        </div>
    </div>

    <div class="row">
        <h2 class="about-header-two">Wat gaan we doen? </h2>
        <div class="col-12 about-paragraph">
            <p>
                Als eerst moeten we onderzoeken of jij wel echt ADD hebt. Dat doen we door middel van een test, en een gesprek met mij. Hierbij stel ik je wat vragen over wat jou dagelijks leven en de omgang met de problemen waar jij tegenaan loopt. Dan stel ik ook wat vragen of je misschien last hebt van depressiviteit, angst of dwangstoornissen, of heb gehad. Dit kan namelijk een  van de oorzaken zijn van ADD. <br><br> Ik hoor graag van je of je hierin geïnteresseerd  bent, en ik hoop je verder te helpen. Je kan me altijd een berichtje sturen, mijn telefoonnummer is: 0678964345.  
            </p>
        </div>
    </div>
</div>