@{
    ViewData["Title"] = "Gijs Broekman";
}

<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>Gijs Broekman</h1>
        </div>
    </div>
    <hr />
    <div class="row head-row">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Even voorstellen:</h2>
            <p>
                Mijn naam is Gijs Broekman, geboren in 1988 in Breda. Ik heb één oudere broer en één jongere zus.
                Ik ben al 7 jaar gelukkig getrouwd en heb 2 dochters, één van 4 en één van 2 jaar oud.
                Ik ben altijd al geïnteresseerd geweest over wat er in jongeren hun hoofd omgaat en waarom de een meer moeite heeft met sommige dingen dan anderen.
                Zelf heb ik ook ADD en ik herinner me nog dat ik soms het idee had dat ik achterliep op andere leerlingen.
                Dit is ook een van de redenen dat ik orthopedagoog ben geworden.
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <div class="row justify-content-center m-0">
                <div class="col about-card">
                    <img class="mt-3 mb-3" src="~/img/gijs.png" alt="Foto van Gijs Broekman">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Mijn studie:</h2>
            <p>
                Ik heb op 18-jarige leeftijd het VWO afgerond en ben vervolgens orthopedagogiek gaan studeren op de Erasmus Universiteit te Rotterdam.
                Ik heb mij gespecialiseerd in faalangst en hoe jongeren hier al op jonge leeftijd mee kunnen vechten.
                Tijdens dit onderzoek heb ik heel erg veel ontdekt over wat er gebeurt in jongeren hun hoofd en hoe ik kan helpen jou je faalangst te overwinnen.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Nu over jou: jij hebt misschien faalangst:</h2>
            <p>
                Er is een vermoeden dat jij faalangst hebt. Dit zou zich kunnen voordoen in de situatie dat je denkt dat
                je een tentamen niet gaat halen of wanneer je een grote opdracht moet maken. In ons intakegesprek wil ik
                jou graag beter leren kennen en ontdekken wat er in jouw hoofd rond gaat wanneer jij in zo'n lastige situatie terecht komt,
                “sla je op slot?” of “krijg je last van een lichte paniek aanval”, dit zijn voorbeelden van dingen die jij
                misschien wel kunt herkent bij jezelf. Verder vertel ik jou meer over het traject en hoe wij de komende tijd samen gaan kijken naar hoe ik jou kan helpen.
            </p>
            <p>
                Kunnen wij het goed vinden en staat het traject jou en eventueel jouw ouders/verzorgers aan?
                Dan gaan ik graag verder met jou en bekijken we samen hoe we stap voor stap jouw faalangst kunnen overwinnen.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wat gaan we doen?</h2>
            <p>
                We beginnen met een klein onderzoek een aantal kleine opdrachten om de basis van jouw faalangst te ontdekken,
                wat is voor jou het lastigst en waar heb jij het meest moeite mee. Vervolgens gaan wij verder
                met trainingen en andere soorten testen om te oefenen en een pad te creëren naar een manier om van jouw faalangst af te komen.
            </p>
            <p>
                We beginnen de sessies met een goed gesprek. Hier kan jij mij vertellen wat je de afgelopen week hebt gedaan en of er momenten waren waar
                jij tegen problemen aanliep waar jouw faalangst opspeelde. Ook gaan we kijken naar hoe bijvoorbeeld je laatste examens/toetsen zijn gegaan.
                Aan de hand hiervan gaan wij dan een opdracht maken om beter te ontdekken wat er toen gebeurde dat moment in de afgelopen week.
                Ik heb veel tips om te geven die kunnen helpen om jouw faalangst te over winnen, en ik zal ze je allemaal vertellen in onze gesprekken!
            </p>
            <p>
                Mocht je meer vragen hebben, stuur me een e-mail naar <a href="mailto:gijs@zmdh.nl">gijs@zmdh.nl</a> of bel/sms me op
                <a href="tel:0693021248">06-93021248</a>, en dan beantwoord ik ze graag. Ik zou je graag verder willen helpen en met of zonder
                jouw ouders/verzorgers een intakegesprek te houden.
            </p>
        </div>
    </div>
</div>
