@{
    ViewData["Title"] = "Over Ons";
}

<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>Over ons</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec euismod, nisl eget consectetur sagittis, nisl nunc
                aliquet nunc, eu aliquam nisl nunc euismod nunc.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wie zijn wij?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec euismod, nisl eget consectetur sagittis, nisl nunc
                aliquet nunc, eu aliquam nisl nunc euismod nunc.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="row about-row">
                <div class="col-12 about-card">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <figure>
                                <img src="~/img/angela.png" alt="Foto van Angela van Heringa">
                                <figcaption class="pt-1">Angela van Heringa</figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-12 my-auto">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Donec euismod, nisl eget consectetur sagittis, nisl nunc
                                aliquet nunc, eu aliquam nisl nunc euismod nunc.
                                Pellentesque habitant morbi tristique senectus et netus et
                                malesuada fames ac turpis egestas.
                            </p>
                            <p>Lees meer over mij <a asp-controller="About" asp-action="Angela_van_Heringa">hier</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="row about-row">
                <div class="col-12 about-card">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <figure>
                                <img src="~/img/gijs.png" alt="Foto van Gijs Broekman">
                                <figcaption class="pt-1">Gijs Broekman</figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-12 my-auto">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Donec euismod, nisl eget consectetur sagittis, nisl nunc
                                aliquet nunc, eu aliquam nisl nunc euismod nunc.
                                Pellentesque habitant morbi tristique senectus et netus et
                                malesuada fames ac turpis egestas.
                            </p>
                            <p>Lees meer over mij <a asp-controller="About" asp-action="Gijs_Broekman">hier</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="row about-row">
                <div class="col-12 about-card">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <figure>
                                <img src="~/img/jantinus.png" alt="Foto van Jantinus Verduin">
                                <figcaption class="pt-1">Jantinus Verduin</figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-12 my-auto">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Donec euismod, nisl eget consectetur sagittis, nisl nunc
                                aliquet nunc, eu aliquam nisl nunc euismod nunc.
                                Pellentesque habitant morbi tristique senectus et netus et
                                malesuada fames ac turpis egestas.
                            </p>
                            <p>Lees meer over mij <a asp-controller="About" asp-action="Jantinus_Verduin">hier</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="row about-row">
                <div class="col-12 about-card">
                    <div class="row">
                        <div class="col-6 col-sm-12">
                            <figure>
                                <img src="~/img/joseph.png" alt="Foto van Joseph van der Vliet">
                                <figcaption class="pt-1">Joseph van der Vliet</figcaption>
                            </figure>
                        </div>
                        <div class="col-6 col-sm-12 my-auto">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Donec euismod, nisl eget consectetur sagittis, nisl nunc
                                aliquet nunc, eu aliquam nisl nunc euismod nunc.
                                Pellentesque habitant morbi tristique senectus et netus et
                                malesuada fames ac turpis egestas.
                            </p>
                            <p>Lees meer over mij <a asp-controller="About" asp-action="Joseph_van_der_Vliet">hier</a>!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wat doen wij?</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec euismod, nisl eget consectetur sagittis, nisl nunc
                aliquet nunc, eu aliquam nisl nunc euismod nunc.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas.
            </p>
        </div>
    </div>
</div>
