@{
    ViewData["Title"] = "Jantinus Verduin";
}

<h1 class="about-header">Jantinus Verduin</h1>


<div class="container">
    <div class="row">
        <h2 class="about-header-two">Even voorstellen</h2>
    </div>
    <div class="row">
        <div class="col-9 about-paragraph">
            <p>
                Mijn naam is Jantinus Verduin, ik ben 45 jaar en ben geboren en getogen in Den Haag. Ik heb een vrouw en 3 kinderen van 4, 8 en 10 jaar oud.<br><br>Op dit moment ben ik al bijna 10 jaar werkzaam in deze praktijk als Orthopedagoog en dat doe ik nog altijd met veel plezier, het is echt mijn passie om andere mensen te mogen helpen met hun “problemen”. 
            </p>
        </div>

        <div class="col-3">

            <figure class="about-card-img">
                <img src="~/img/jantinus.png" alt="Foto van Jantinus Verduin">
            </figure>
        </div>
    </div>
    <div class="row">
        <h2 class="about-header-two">Mijn studie</h2>
        <div class="col-12 about-paragraph">
            <p>
                Eerst heb ik 6 jaar VWO gedaan, waarna ik de Master Pedagogiek heb mogen doen aan de Universiteit in Leiden, in 1999 heb ik mijn diploma behaald, tijdens de opleiding heb ik mij gespecialiseerd in Autismespectrumstoornissen. 
            </p>
        </div>
    </div>

    <div class="row">
        <h2 class="about-header-two">Nu over jou: jij hebt misschien ASS:</h2>
        <div class="col-12 about-paragraph">
            <p>
                De afkorting van autismespectrumstoornissen is ASS. ASS valt te herkennen aan 2 soorten kenmerken. De eerste is hoe je met andere omgaat, vind je het lastig om met andere te praten zonder enig doel? Ook zou je uitdrukkingen vaak heel serieus kunnen overnemen.<br><br>De tweede kenmerk is hoe je je gedraagt, kan je bijvoorbeeld heel nauwkeurig met iets bezig zijn? Ook zou je heel erg gefocust kunnen zijn op 1 onderwerp, vind je bijvoorbeeld computers erg leuk? Dan zou je daar echt uren mee bezig kunnen zijn.  
            </p>
        </div>
    </div>

    <div class="row">
        <h2 class="about-header-two">Wat gaan we doen? </h2>
        <div class="col-12 about-paragraph">
            <p>
                ASS zal nooit helemaal weg gaan, er bestaan namelijk geen behandelingen die ASS kunnen laten verdwijnen, wel kunnen we er voor gaan zorgen dat je beter om kan gaan met autisme.<br>Het gaat dan vooral om oefeningen waarbij je zal leren met andere om te gaan, sociale vaardigheden dus. Ook zullen de ouders hierbij getraind worden zodat jullie ook in de thuis situatie beter met de ASS om zouden kunnen gaan.   
            </p>
        </div>
    </div>
</div>
