@{
    ViewData["Title"] = "Jantinus Verduin";
}

<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>Jantinus Verduin</h1>
        </div>
    </div>
    <hr />
    <div class="row head-row">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Even voorstellen:</h2>
            <p>
                Mijn naam is Jantinus Verduin, ik ben 45 jaar en ben geboren en getogen in Den Haag. Ik heb een vrouw en 3 kinderen van 4, 8 en 10 jaar oud.
            </p>
            <p>
                Op dit moment ben ik al bijna 10 jaar werkzaam in deze praktijk als Orthopedagoog en dat doe ik nog altijd met veel plezier,
                het is echt mijn passie om andere mensen te mogen helpen met hun “problemen”.
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <div class="row justify-content-center m-0">
                <div class="col about-card">
                    <img class="mt-3 mb-3" src="~/img/jantinus.png" alt="Foto van Jantinus Verduin">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Mijn studie:</h2>
            <p>
                Eerst heb ik 6 jaar VWO gedaan, waarna ik de Master Pedagogiek heb mogen doen aan de Universiteit in Leiden, in 1999 heb ik mijn
                diploma behaald, tijdens de opleiding heb ik mij gespecialiseerd in Autismespectrumstoornissen.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Nu over jou: jij hebt misschien ASS:</h2>
            <p>
                De afkorting van autismespectrumstoornissen is ASS. ASS valt te herkennen aan 2 soorten kenmerken. De eerste is hoe je met anderen
                omgaat, vind je het lastig om met andere te praten zonder enig doel? Ook zou je uitdrukkingen vaak heel serieus kunnen overnemen.
            </p>
            <p>
                De tweede kenmerk is hoe je je gedraagt, kan je bijvoorbeeld heel nauwkeurig met iets bezig zijn? Ook zou je heel erg
                gefocust kunnen zijn op 1 onderwerp, vind je bijvoorbeeld computers erg leuk? Dan zou je daar echt uren mee bezig kunnen zijn.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wat gaan we doen?</h2>
            <p>
                ASS zal nooit helemaal weg gaan, er bestaan namelijk geen behandelingen die ASS kunnen laten verdwijnen,
                wel kunnen we er voor gaan zorgen dat je beter om kan gaan met autisme.
            </p>
            <p>
                Het gaat dan vooral om oefeningen waarbij je zal leren met andere om te gaan, sociale vaardigheden dus.
                Ook zullen de ouders hierbij getraind worden zodat jullie ook in de thuis situatie beter met de ASS om zouden kunnen gaan.
            </p>
            <p>
                Meer vragen? Stuur een mailtje naar <a href="mailto:jantinus@zmdh.nl">jantinus@zmdh.nl</a> en dan help ik je verder!
            </p>
        </div>
    </div>
</div>
