@{
    ViewData["Title"] = "Joseph van der Vliet";
}

<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>Joseph van der Vliet</h1>
        </div>
    </div>
    <hr />
    <div class="row head-row">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Even voorstellen:</h2>
            <p>
                Mijn naam is Joseph Van Der Vliet, ik kom uit 1980 en ben geboren en getogen in Den Haag.
                Ik ben al 5 jaar gelukkig getrouwd Angela van Heringa.Sinds mijn jeugd ben ik een fanatieke lezer van Engelse en Russische Romans,
                zo lees ik voornamelijk de boeken van Fyodor Dostoyevsky. Ook zwem ik graag in mij vrije tijd en neem ik deel aan competitieve schaakwedstrijden.
                Al jarenlang ben ik geïnteresseerd in hoogbegaafde jongeren, mijn doel is daarbij dat jongeren altijd een uitdaging in het leven hebben
                en dat ze hun talenten goed kunnen gebruiken in het dagelijks leven.
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <div class="row justify-content-center m-0">
                <div class="col about-card">
                    <img class="mt-3 mb-3" src="~/img/joseph.png" alt="Foto van Joseph van der Vliet">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Mijn studie:</h2>
            <p>
                Op de Universiteit Leiden heb ik de opleiding Orthopedagogiek gestudeerd.
                Hierbij heb ik mij kunnen specialiseren in het behandelen van hoogbegaafde kinderen/jongeren.
                Op deze opleiding heb ik veel kunnen leren wat ik nu graag in de praktijk toepas.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Nu over jou: jij bent misschien hoogbegaafd:</h2>
            <p>
                Er is een vermoeden dat jij hoogbegaafd bent. Jij vindt het behoorlijk makkelijk op school en verveelt je regelmatig.
                Het leren op school gaat je vaak te makkelijk af en je mist regelmatig uitdaging.
                Hierdoor ben je continue aan het dagdromen aan dingen die jou wel interesseren.
                Jij houdt van problemen oplossen en kan soms wel uren bezig zijn, omdat je dat ene probleem te pakken te wilt krijgen.
                Soms zou je moeite kunnen hebben met sociale interactie met bijvoorbeeld mede studenten.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wat gaan we doen?</h2>
            <p>
                We gaan eerst samen met jouw ouders bekijken of je hoogbegaafd bent.
                We nemen hiertoe een aantal IQ testen af, jij kan dit natuurlijk zien als een leuke puzzel die je moet oplossen.
                Als uit de resultaten blijken dat jij hoogbegaafd bent zullen we samen kijken naar wat je sterke punten zijn.
                Ik zal goed luisteren naar wat jij leuk vindt om te doen, dit kan van alles zijn. Bijvoorbeeld schaken, lezen of een puzzel oplossen.
                Het doel is om jou een leuke uitdaging te laten vinden, waar jij de komende tijd aan de slag mee kan gaan.
                Verder zal ik je een paar tips geven voor het omgaan met bepaalde situaties die jij moeilijk vindt.
                Het is belangrijk dat wij erachter komen wat jij echt superleuk vindt om te doen.
                Maar ook is het belangrijk om erachter te komen wat jou erg dwarszit.
                Ook kunnen we kijken of er bepaalde hobby's zijn die jou interesseren en jou dus vervolgens verder kunnen laten ontwikkelen.
                Ook zou meer uitdagende lesstof op school een rol kunnen spelen.
            </p>
            <p>
                Je bent altijd welkom. Laten we samen leuke problemen oplossen en nieuwe dingen ontdekken. Wil je meer weten over wat
                het proces zal zijn? Bel me dan gerust of stuur mij een email op <a href="mailto:joseph@zmdh.nl">joseph@zmdh.nl</a>.
                We plannen altijd eerst een intakegesprek waar we elkaar leren kennen voordat we verder gaan met het proces.
                Laten we samen een nieuwe uitdaging zoeken.
            </p>
        </div>
    </div>
</div>
