@{
    ViewData["Title"] = "Joseph van der Vliet";
}

<div class="container pt-3 pb-3">
    <div class="row mb-3">
        <div class="col">
            <h1>Joseph van der Vliet</h1>
        </div>
    </div>
    <hr />
    <div class="row head-row">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Even voorstellen:</h2>
            <p>
                Mijn naam is Joseph van der Vliet, geboren in 1980 en getogen in Den Haag. Ik ben al 5 jaar getrouwd met Angela van Heringa
                en gelukkig. Sinds mijn jeugd ben ik een fanatieke lezer die houdt van Engelse en Russische Romans, zo lees ik voornamelijk de
                boeken van Fyodor Dostoyevsky. Ook zwem ik graag in mij vrije tijd en neem ik deel aan competitieve schaakwedstrijden.
                Jarenlang ben ik geïnteresseerd geweest in hoogbegaafde jongeren, en is mijn doel dat jongeren altijd een uitdaging
                hebben en hun talenten kunnen goed kunnen gebruiken in hun dagelijks leven.
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3">
            <div class="row justify-content-center m-0">
                <div class="col about-card">
                    <img class="mt-3 mb-3" src="~/img/joseph.png" alt="Foto van Joseph van der Vliet">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Mijn studie:</h2>
            <p>
                Nadat ik mijn vwo-diploma had weten te halen op het Edith Stein College, ging ik de opleiding Orthopedagogiek
                studeren op de Universiteit Leiden. Na het afstuderen ben ik gespecialiseerd in het behandelen van hoogbegaafde kinderen.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h2>Nu over jou: jij bent misschien hoogbegaafd:</h2>
            <p>
                Er is nu een vermoeden dat jij hoogbegaafd bent. Hier hoef je niet van te schrikken maar juist blij van te worden.
                Jij vindt het behoorlijk makkelijk op school en verveelt je regelmatig. Soms vertelt de docent dingen jou niet aanspreken
                omdat die vanzelfsprekend zijn voor jou. Hierdoor ben je continue aan het dagdromen aan dingen die jou wel interesseren.
                Jij houdt van problemen oplossen en kan soms wel uren bezig zijn, omdat je dat ene probleem te pakken te wilt krijgen.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Wat gaan we doen?</h2>
            <p>
                We gaan eerst samen met jouw ouders bekijken of je hoogbegaafd bent. Dit doen we doormiddel van een paar testen die
                jouw IQ zullen testen, jij kan dit natuurlijk zien als een leuke puzzel die je moet oplossen. Als uit de resultaten blijken
                dat jij hoogbegaafd bent zullen we samen kijken naar wat je sterke punten zijn. Ik zal goed luisteren naar wat jij
                leuk vindt om te doen, dit kan van alles zijn. Bijvoorbeeld schaken, lezen of puzzel oplossen. Het doel is om
                jou een leuke uitdaging te laten vinden, waar jij de komende tijd aan de slag mee kan gaan. Verder zal ik je een
                paar tips geven voor het omgaan met bepaalde situaties die jij moeilijk vindt. Het is belangrijk dat wij erachter
                komen wat jij echt superleuk vindt om te doen. Maar ook is het belangrijk om erachter te komen wat jou erg dwarszit.
                Zo kunnen we samen een hobby beginnen die jou de komende tijd zal laten ontwikkelen en zal versterken.
            </p>
            <p>
                Je bent altijd welkom. Laten we samen leuke problemen oplossen en nieuwe dingen ontdekken. Wil je meer weten over wat
                het proces zal zijn? Bel me dan gerust of stuur mij een email op <a href="mailto:joseph2001@gmail.com">Joseph2001@gmail.com</a>.
                We plannen altijd eerst een intakegesprek waar we elkaar leren kennen voordat we verder gaan met het proces.
                Laten we samen een nieuwe uitdaging zoeken.
            </p>
        </div>
    </div>
</div>
