.accessibility {
  z-index: 2;
  left: 1rem;
  bottom: 3rem;
  color: #FFF;
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  border-radius: .25rem;
  background-color: var(--primary);
  border: solid 1px rgba(0 0 0 / .25);
  -webkit-box-shadow: 0 2px 4px -2px rgb(0 0 0 / .5);
  box-shadow: 0 2px 4px -2px rgb(0 0 0 / .5);
}

.accessibility-label {
  width: 100%;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

/* Accessibility
----------------------------------------------------------------------------- */

[accessibility=on] h1 {
  font-size: 3.25rem;
}

[accessibility=on] h2 {
  font-size: 2.5rem;
}

[accessibility=on] h4 {
  font-size: 2rem;
}

[accessibility=on] h5 {
  font-size: 1.5rem;
}

[accessibility=on] p {
  font-size: 1.375rem;
}

[accessibility=on] figcaption, [accessibility=on] label,
[accessibility=on] li, [accessibility=on] .btn,
[accessibility=on] .scroll-down, [accessibility=on] .form-control,
[accessibility=on] .custom-select {
  font-size: 1.25rem;
}

[accessibility=on] a {
  color: #000;
}

[accessibility=on] .accessibility {
  color: #FFF;
  background-color: var(--success);
  -webkit-box-shadow: inset 0 2px 4px -2px rgb(0 0 0 / .5);
  box-shadow: inset 0 2px 4px -2px rgb(0 0 0 / .5);
}

[accessibility=on] .btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

[accessibility=on] .btn {
  color: #000 !important;
  border: 1px solid #000;
  background-color: #FFF;
}

[accessibility=on] .btn:hover, [accessibility=on] .btn:focus {
  color: #000 !important;
  border: 1px solid #000 !important;
  background-color: var(--grey_1) !important;
}

[accessibility=on] .btn-primary:active, [accessibility=on] .btn-primary:focus, [accessibility=on] .btn-primary:active:focus {
  box-shadow: none !important;
}

[accessibility=on] .home-bg:before {
  background: rgba(0 0 0 / .75);
}

[accessibility=on] .head-card>h1 {
  font-size: 2.5rem;
}

[accessibility=on] .head-card p {
  font-size: 2.25rem;
}

[accessibility=on] .home-card {
  color: #000;
  background-color: #FFF;
}

[accessibility=on] footer a {
  font-size: .75rem;
}

[accessibility=on] .page .btn {
  font-size: 1.25rem;
  padding: .5rem 6rem;
}

[accessibility=on] main {
  min-height: calc(100vh - 2.5rem);
}

[accessibility=on] footer {
  line-height: 2.25rem;
}

[accessibility=on] footer svg {
  font-size: 1.75rem;
}

[accessibility=on] .page span, [accessibility=on] .page a,
[accessibility=on] .page small, [accessibility=on] .manage th,
[accessibility=on] .manage td, [accessibility=on] footer a,
[accessibility=on] .manage td .btn, [accessibility=on] .message-head {
  font-size: 1.25rem;
}

[accessibility=on] .manage td .btn {
  padding: .25rem 2rem;
}

[accessibility=on] .chat {
  height: calc(100vh - 20.375rem);
}

@media screen and (min-width: 1200px) {
  [accessibility=on] .home-bg {
    min-height: 55rem;
  }
}
