/* Styling */
body {
  font-family: "Lato", sans-serif;
}

main {
  overflow-y: auto;
  /* Navbar height */
  padding-top: 4rem;
  /* Whole page minus footer */
  min-height: calc(100vh - 2rem);
  background-color: var(--white_2);
}

a {
  color: var(--blue);
  text-decoration: underline;
}

a:hover {
  opacity: .9;
  color: var(--blue);
  text-decoration: underline !important;
}

a.btn, a.btn:hover {
  opacity: 1;
  text-decoration: none !important;
}

a.btn-no-extend {
  width: fit-content;
}

/* Custom styles */
.md-btn {
  padding: .25rem 1rem;
}

.lg-btn {
  column-gap: .5rem;
  padding: .25rem 4rem;
}

@media screen and (max-width: 767.98px) {
  .lg-btn {
    width: 100% !important;
  }
}

/* No access page */
.no-access {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 6rem);
}

.no-access>h1 {
  font-weight: 600;
  font-size: 2.6rem;
}

.no-access>p {
  font-size: 1.2rem;
}

/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: var(--white_3);
  -webkit-box-shadow: inset 0 0 4px -2px rgb(0 0 0 / .5);
  box-shadow: inset 0 0 4px -2px rgb(0 0 0 / .5);
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background-color: var(--white_3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark_grey_3);
}

/* Load icon */
.load {
  top: 0;
  left: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url('../img/load.svg') center no-repeat var(--white_3);
}

.shrink {
  width: 0;
  white-space: nowrap;
}
