/* Colors */
:root {
  --blue: #1E90FF;
  --green: #00FA9A;

  --white_1: #FEFEFE;
  --white_2: #FCFCFC;
  --white_3: #FAFAFA;

  --grey_1: #F8F8F8;
  --grey_2: #F3F3F3;
  --grey_3: #F1F1F1;

  --dark_grey_1: #ECECEC;
  --dark_grey_2: #E9E9E9;
  --dark_grey_3: #E3E3E3;
}
