@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Persoonlijke gegevens";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="row">
    <div class="col info-row">
        <h4>@ViewData["Title"]</h4>
        <p>Wij slaan persoonlijke data van u op. Dit kunt u op ieder moment downloaden of verwijderen.</p>
        <p>
            <strong>Door het verwijderen van uw data verwijderd u ook uw account! Dit is permanent en kan niet hersteld worden!</strong>
        </p>
        <div class="row">
            <div class="col-12 col-md-6">
                <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
                    <div class="form-group text-center">
                        <button class="btn btn-primary lg-btn" type="submit">Download</button>
                    </div>
                </form>
            </div>
            <div class="col-12 col-md-6">
                <p class="text-center">
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-secondary md-btn">Verwijder</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
