@{
    ViewData["Title"] = "Home Pagina";
}

<div class="row home-bg m-0">
    <div class="col">
        <div class="row">
            <div class="col head-card">
                <img src="~/img/logo.svg" alt="ZMDH Logo">
                <p class="text-center m-0">Zorgmaatschappij Den Haag</p>
            </div>
        </div>
        <div class="row home-row">
            <div class="col home-card">
                <h2 class="text-center mb-3">In het kort:</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisl eget consectetur sagittis, nisl nunc
                    aliquet nunc, eu aliquam nisl nunc euismod nunc.
                    Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas.
                </p>
            </div>
            <div class="col home-card">
                <h2 class="text-center mb-3">Meer informatie:</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec euismod, nisl eget consectetur sagittis, nisl nunc
                    aliquet nunc, eu aliquam nisl nunc euismod nunc.
                    Pellentesque habitant morbi tristique senectus et netus et
                    malesuada fames ac turpis egestas.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container home-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-3">Waarom ZMDH?</h2>
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec euismod, nisl eget consectetur sagittis, nisl nunc
                aliquet nunc, eu aliquam nisl nunc euismod nunc.
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas.
            </p>
        </div>
        <div class="col">
            <h2 class="text-center mb-3">Belangrijke links:</h2>
            <ul>
                <li>Link 1</li>
                <li>Link 1</li>
                <li>Link 1</li>
                <li>Link 1</li>
            </ul>
        </div>
    </div>
</div>
