@{
    ViewData["Title"] = "Home Pagina";
}

<div class="row home-bg m-0">
    <div class="col">
        <div class="row">
            <div class="col head-card">
                <img src="~/img/logo.svg" alt="ZMDH Logo">
                <p class="text-center m-0">Zorgmaatschappij Den Haag</p>
            </div>
        </div>
        <div class="row home-row">
            <div class="col home-card">
                <h2 class="text-center mb-3">In het kort:</h2>
                <p class="text-center">
                    Wij helpen kinderen met ADD, faalangst, ASS, of die hoogbegaafd zijn. 
                    Daarbij hebben al onze medewerkers hun eigen specialisatie. Dan kunnen wij u of uw kind 
                    helpen met de hindernissen op het dagelijksleven bijvoorbeeld op school of sociaal gedrag.

                </p>
            </div>
            <div class="col home-card">
                <h2 class="text-center mb-3">Hoe meld ik mijzelf aan?</h2>
                <p class="text-center">
                    U kunt uzelf of uw kind aanmelden via deze website. Dan vul dan het formulier in over wat u of uw kind 
                    voor stoornis heeft en dan word u gekoppeld aan een gespecialiseerde hulpverlener. Zo zult u gekoppeld worden aan een <a asp-controller="About">hulpverlener</a>.

                </p>
            </div>
        </div>
    </div>
</div>
<div class="container home-container">
    <div class="row">
        <div class="col">
            <h2 class="text-center mb-3">ZMDH wat doen wij nou eigenlijk?</h2>
            <p class="text-center">
                Wij helpen kinderen/jongeren met hun “problemen” en onze missie is dan ook dat iedere patiënt met zijn/haar problemen goed geholpen wordt. 
                Dat doen wij door goede pedagogen in onze praktijk in dienst te nemen en deze regelmatig bij te scholen d.m.v. cursussen. 
                De visie van het bedrijf is om te groeien tot de grootste en de beste praktijk van de regio haaglanden. 
            </p>
        </div>
        <div class="col">
            <h2 class="text-center mb-3">Handige links:</h2>
            <ul>
                <li>Voor meer informatie over ADD  <a href="https://www.adhd-nederland.nl/" target="_blank"> klik hier</a> </li>
                <li>Voor meer informatie over ASS  <a href="https://www.autisme.nl/" target="_blank"> klik hier</a> </li>
                <li>Voor meer informatie over faalangst  <a href="https://www.faalangst.nl/" target="_blank"> klik hier</a></li>
                <li>Voor meer informatie over hoogbegaafd  <a href="https://www.lich.nl/" target="_blank"> klik hier</a></li>
            </ul>
        </div>
    </div>
</div>
