@{
    ViewData["Title"] = "Informatie";
}

<div class="container pt-3 pb-3">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <hr />
    <div class="row head-row">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Hoe kan je je voorbereiden op je gesprek:</h2>
            <p>
                Voor het gesprek met jouw orthopedagoog is het handig om wat voor te bereiden.
                Je kan een introductie mail sturen met wat jij als hobby's hebt en doet in het dagelijks leven.
                Ook kan je alvast een test doen die past bij jouw problemen.
                Zodat je die resultaten kan bespreken tijdens het uiteindelijke gesprek.
                Ook kan jij nadenken over waar jij het over wilt hebben of extra aandacht aan wilt besteden,
                bijvoorbeeld van problemen waar jij regelmatig tegenaan loopt in het dagelijks leven.
                Als je geen fijn gevoel hebt na het eerste gesprek kan je altijd nog contact opnemen en dan kan je naar een andere orthopedagoog verwezen worden.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Hoe meld ik mij aan? </h2>
            <p>
                <li>Boven aan het menu drukt u op aanmelden, hiermee meld u zichzelf aan voor een orthopedagoog, u kunt er ook een orthopedagoog uitkiezen.
                    De introductie van de orthopedagogen is te vinden in het kopje over ons.</li>
                <li>Vervolgens vult u uw gegevens in en drukt u op aanmelden.</li>
                <li>U krijgt een mailtje met een bevestiging en u wordt dan vervolgens gebeld om een afspraak te maken.</li>
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Hoe kan ik chatten met mijn hulpverlener? </h2>
            <p>
                Rechts onder in je beeldscherm zie je een chat icoontje,
                als je daar op klikt wordt je gelinkt naar de chat met jouw hulpverlener.
                De chat vindt alleen tussen jou en jouw hulpverlener plaats.
                Dus het is een vertrouwde omgeving waarin je alles kunt zeggen.
                Je kunt vragen stellen over hoe de site werkt en van alles.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Hoe kan ik deelnemen aan de groeps chat?</h2>
            <p>
                Groeps chats zijn plekken waar je samen met andere kinderen/jongeren onder begeleiding van een orthopedagoog kan chatten,
                je hebt de optie om aan meerdere chats deel te nemen. De groep chats kun je vinden onder het kopje 'Zelfhulpgroepen',
                hier kun je bestaande chats vinden om aan deel te nemen. Door middel van filters kun je zoeken naar groep chats met leeftijdsgenoten
                en andere kinderen/jongeren die dezelfde problemen delen als jij. Houd het netjes in de chat, anders kan je niet meer deelnemen aan deze groep chat.
                Uiteraard gaan we binnen de chat respectvol met elkaar om, je kunt de regels hiervoor lezen aan het begin van de chat.
            </p>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 col-md-8 col-lg-9">
            <h2>Niet alle vragen beantwoord?</h2>
            <p>Neem contact met ons op via het contact formulier op de <a asp-controller="Contact" asp-action="Index">contactpagina</a>.</p>
        </div>
    </div>
</div>
