/* Colors */

:root {
  --blue: #009efd;
  --green: #2af598;
}

/* Main */

main {
  background-color: #FAFAFA;
  min-height: calc(100vh - 5.5rem); /* Whole page minus navbar + footer */
}

/* Homepage
-------------------------------------------------- */



/* About
-------------------------------------------------- */

.about-row {
  margin: 15px 0;
}

.about-card {
  padding-top: 15px;
  border-radius: .25rem;
  background-color: #F9F9F9;
  border: solid .1rem rgba(0, 0, 0, .25);
}

.about-card figure {
  margin-bottom: 15px;
}

.about-card figure img {
  width: 100%;
  border-radius: .25rem;
}

.about-card figure figcaption {
  font-weight: 600;
  text-align: center;
}

.about-card p {
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
