/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 2rem;
}

/* Styling
-------------------------------------------------- */

.about-row {
  margin: 15px 0;
}

.about-card {
  padding-top: 15px;
  border-radius: .25rem;
  background-color: #F7F7F7;
  border: solid .1rem rgba(0,0,0,.25);
}

.about-card figure {
  margin-bottom: 15px;
}

.about-card figure img {
  width: 100%;
  border-radius: .25rem;
}

.about-card figure figcaption {
  font-weight: 600;
  text-align: center;
}

.about-card p {
  overflow: hidden;
  text-align: center;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
