/* Colors */
:root {
  --blue: #009EFD;
  --green: #2AF598;

  --white_1: #FDFDFD;
  --white_2: #FAFAFA;
  --white_3: #F9F9F9;
  --white_4: #F5F5F5;
  --white_5: #F1F1F1;

  --grey_1: #EFEFEF;
  --grey_2: #C9C9C9;
}
